img {
  filter: grayscale(100%);
}

img{
    border: 2px solid red;
    border-radius: 25px;
  }

footer {
    text-align: center;
    font-weight: bold;
}

table, td, tr{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #5614f1;
    color: rgb(255, 8, 8);
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }

.container {
    position: relative;
  text-align: center;
  color: white;
}

li a:hover {
  background-color: #555;
  color: white;
}

a{
  color:red;
}

.column {
  float: center;
  width: 20%;
  background-color: lightgrey;
  color: blue;
  height: 200px;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}