img {
  filter: grayscale(100%);
}

img{
    border: 2px solid red;
    border-radius: 25px;
  }

footer {
    text-align: center;
    font-weight: bold;
}

table, td, tr{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #04AA6D;
    color: rgb(34, 188, 199);
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }

.container {
    position: relative;
  text-align: center;
  color: white;
}